#*.zip
#*.rar
#*.docx
#test.py
#cws.pdf
#ExtraDataSet/
#Models/
#Results/
#__pycache__/
*.*
*/
!.gitignore
!data/dataset/train.txt 
!data/dataset/test.txt 
!fine_tune_predict.py
!process_data.py
!README.md 
!run.sh
!requirements.txt